$color-pale-blue:       hsl(243, 100%, 93%);
$color-gray-blue:       hsl(229, 7%, 55%);
$color-dark-blue:       hsl(228, 56%, 26%);
$color-very-dark-blue:  hsl(229, 57%, 11%);
$gradient-start:        hsl(6, 100%, 80%);
$gradient-end:          hsl(335, 100%, 65%);
$radius-small:           0.625rem;
$radius-medium:           0.75rem;
$breakpoint-desktop:        48rem;
