*,
*::before,
*::after 
{
  box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
dl,
dd 
{
  margin: 0;
}

ul 
{
  margin: 0;
  padding: 0;
  list-style: none;
}

img 
{
  display: block;
  max-width: 100%;
}

button,
a 
{
  font: inherit;
}

button 
{
  border: 0;
}

a 
{
  color: inherit;
}

.visually-hidden 
{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}