.card 
{
  overflow: hidden;
  border-radius: var(--card-radius, 1rem);
  background: var(--card-background, white);
  box-shadow: var(--card-shadow, none);
}

.card__content 
{
  padding: var(--card-padding, 1.5rem);
}