.section-container() {
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}

.section-title() {
  color: @color-heading;
  font-size:
    clamp( 1.75rem, 5vw, 2.25rem);
  line-height: 1.4;
  padding: 0 2rem;
}

.section-text() {
  max-width: 42rem;
  margin-inline: auto;
  padding: 0 1.7rem;
  color: @color-text;
  line-height: 1.7;
}