@color-green:   hsl(171, 66%, 44%);
@color-blue:    hsl(233, 100%, 69%);
@color-heading: hsl(210, 10%, 33%);
@color-text:    hsl(201, 11%, 66%);
@color-white:   hsl(0, 0%, 100%);
@color-footer:  hsl(220, 18%, 97%);

@radius-pill: 999px;


@shadow-green:
  0 0.25rem 0 hsl(171, 66%, 34%);
@shadow-blue:
  0 0.25rem 0 hsl(233, 60%, 58%);


  @transition-fast: 180ms ease;
@breakpoint-tablet: 48rem;
@breakpoint-desktop: 64rem;